<!-- An Web App By Aryan Bhan -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generator Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand animated-text" href="/">Password Generator By Aryan</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active animated-text" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active animated-text" aria-current="page" href="/about">About</a>
              </li>
            </div>
        </div>
      </nav>
      <div class="container">
        <h1 class="text-center my-5">About Strong Password Generator</h1>
        <div class="text-center">

          <p>
            Welcome to the Strong Password Generator web app! This app allows you to generate strong and secure passwords with ease.
          </p>
          <p>
        We use a combination of uppercase letters, lowercase letters, digits, and special characters to create passwords that are difficult to guess.
      </p>
      <p>
        Feel free to use this tool to generate strong passwords for your online accounts and enhance your online security.
    </p>
  </div>
  
    </div>
    <div class="text-center">😊😊😊</div>
      <div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f0f0f0; padding: 10px;text-align: center;"> <b>

        Made with ❤ by Aryan Bhan
      </b>
      </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"> -->
  
  </body>
</html>
